@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom colors */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 15; /* #0F0F0F */
  --background-end-rgb: 15, 15, 15; /* #0F0F0F */
}

/* Global styles for body */
body {
  color: rgb(var(--foreground-rgb));
  background: #0F0F0F; /* Black background */
  font-family: 'Fira Code', monospace;
}

/* Custom styles for TextField */
.my-4 .MuiInputBase-input {
  color: #ffffff !important; /* White text in TextField */
  font-family: 'Fira Code', monospace !important; /* Apply Fira Code font */
}

.my-4 .MuiFormLabel-root {
  color: #ffffff !important; /* White label in TextField */
  font-family: 'Fira Code', monospace !important; /* Apply Fira Code font */
}

.my-4 .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important; /* White border in TextField */
}

.my-4 .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #1DB954 !important; /* Green border on hover */
}

.my-4 .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1DB954 !important; /* Green border when focused */
}

/* Animation for TextField */
.my-4 .MuiOutlinedInput-root {
  transition: transform 0.3s ease;
}
.my-4 .MuiOutlinedInput-root:hover {
  transform: scale(1.05);
}

/* General text color */
.text-white {
  color: #ffffff !important;
  font-family: 'Fira Code', monospace !important; /* Apply Fira Code font */
}

/* Custom button styles */
.bg-green-600 {
  background-color: #1DB954 !important; /* Spotify green */
}

.bg-green-500:hover {
  background-color: #1ED760 !important; /* Lighter green on hover */
}

/* Custom background color */
.bg-black {
  background-color: #0F0F0F !important; /* Black background */
}

/* Custom switch styles */
.MuiSwitch-track {
  background-color: #ffffff !important; /* White track when Switch is off */
}

.MuiSwitch-switchBase.Mui-checked {
  color: #1DB954 !important; /* Green color when Switch is on */
}

.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #1DB954 !important; /* Green track when Switch is on */
}

/* Fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}